/*------------------------------------키보드----------------  */
.keyboard {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 5px;
  flex-direction: column;
}

.keyboard-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.keyboard-block {
  font-size: 23px;
  font-weight: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #d3d6da;
  width: 42px;
  height: 60px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.keyboard-block__long {
  font-size: 15px;
  font-weight: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #d3d6da;
  width: 65px;
  height: 60px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.keyboard-row img {
  width: 20px;
}
